html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter',  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #fff;
  color: #111;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
pre {
  background: #1d2230;
    padding: 10px 12px;
    color: #fff;
    border-radius: 4px;
}

img {
  max-width: 100%;
  display: block;
}
iframe {
  width: 100%;
}
.header {
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
  background-color: #fff;
}
.header .nav-link {
  color: #121212 !important;
}

.footer,
.footer a {
  color: #fff;
}
.aboutme-section,
.footer {
  background: linear-gradient(306deg,rgba(54,54,54,.05),rgba(54,54,54,.05) 33.333%,rgba(85,85,85,.05) 0,rgba(85,85,85,.05) 66.666%,hsla(0,0%,100%,.05) 0,hsla(0,0%,100%,.05) 99.999%),linear-gradient(353deg,rgba(81,81,81,.05),rgba(81,81,81,.05) 33.333%,hsla(0,0%,93.3%,.05) 0,hsla(0,0%,93.3%,.05) 66.666%,rgba(32,32,32,.05) 0,rgba(32,32,32,.05) 99.999%),linear-gradient(140deg,hsla(0,0%,75.3%,.05),hsla(0,0%,75.3%,.05) 33.333%,hsla(0,0%,42.7%,.05) 0,hsla(0,0%,42.7%,.05) 66.666%,rgba(30,30,30,.05) 0,rgba(30,30,30,.05) 99.999%),linear-gradient(189deg,rgba(77,77,77,.05),rgba(77,77,77,.05) 33.333%,rgba(55,55,55,.05) 0,rgba(55,55,55,.05) 66.666%,hsla(0,0%,56.9%,.05) 0,hsla(0,0%,56.9%,.05) 99.999%),linear-gradient(90deg,#09c9ba,#1283dd);
}
.author-pic {
  height: 250px;
  width: 250px;
}
.badge-success, .btn-green {
  color: #364655;
  background-color: #a2cb70;
}
.block-img {
  text-align: -webkit-center;
  margin-top: 20px;
}
.blog-image {
  height: 230px;
}
.breadcrumb {
  background-color: #fff;
}
.breadcrumb-item h1,
.breadcrumb-item h2 {
  font-size: 18px;
  line-height: unset;
}
.card,
.author-pic {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 234, 234);
  transition: border 0.2s ease 0s, box-shadow 0.2s ease 0s;
}
.author h2 {
  font-size: 1.25rem;
}
.projects-section h4 {
  font-size: 1rem;
}
.card-title {
  font-size: 1rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
.blog-page .breadcrumb {
  padding-left: 4px;
}
.blog-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
    text-decoration: none;
}
.blog-card a {
  color: #666666;
  text-decoration: none;
}
.blog-card a:hover {
  color: #000;
}
.blog-post h2 {
  font-size:1rem;
}
.subscribe-container {
  width: fit-content;
}
.fb-share-button span {
  vertical-align:baseline !important;
}
.comments-section {
  background: #100e17;
  color: #fff;
}
.comment-input {
    margin-right: -6px;
}
.comment-button-container {
    margin-right: 6px;
}
.btn-comment {
  background: linear-gradient(306deg,rgba(54,54,54,.05),rgba(54,54,54,.05) 33.333%,rgba(85,85,85,.05) 0,rgba(85,85,85,.05) 66.666%,hsla(0,0%,100%,.05) 0,hsla(0,0%,100%,.05) 99.999%),linear-gradient(353deg,rgba(81,81,81,.05),rgba(81,81,81,.05) 33.333%,hsla(0,0%,93.3%,.05) 0,hsla(0,0%,93.3%,.05) 66.666%,rgba(32,32,32,.05) 0,rgba(32,32,32,.05) 99.999%),linear-gradient(140deg,hsla(0,0%,75.3%,.05),hsla(0,0%,75.3%,.05) 33.333%,hsla(0,0%,42.7%,.05) 0,hsla(0,0%,42.7%,.05) 66.666%,rgba(30,30,30,.05) 0,rgba(30,30,30,.05) 99.999%),linear-gradient(189deg,rgba(77,77,77,.05),rgba(77,77,77,.05) 33.333%,rgba(55,55,55,.05) 0,rgba(55,55,55,.05) 66.666%,hsla(0,0%,56.9%,.05) 0,hsla(0,0%,56.9%,.05) 99.999%),linear-gradient(90deg,#09c9ba,#1283dd);
  color: #fff;
}
.comment-card {
    background: #17141d;
    color: #c2c2c2;
    box-shadow: 0 4px 80px #070509;
    border-color: #17141d;
}
.commentor-name {
  margin-bottom: 0px;
  color: #fff;
}
.commentor-message {
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  .blog-post h1 {
    font-size: 1.25rem;
  }
}
